// Variables & Mixins

$font-main: 'Open Sans', Helvetica, Arial, sans-serif;

// Colours
$white: #fff;
$black: #222;
$brown-light: #C6BFBC;
$brown-med: #8C7F79;
$brown-dark: #616161;


// Breakpoints
$breakpoint-1: 480px;
$breakpoint-2: 768px;
$breakpoint-3: 999px;
$breakpoint-4: 1200px;

// Mixins

@mixin transition($speed) {
	-webkit-transition: all $speed ease;
	-moz-transition: all $speed ease;
	-ms-transition: all $speed ease;
	-o-transition: all $speed ease;
	transition: all $speed ease;
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin rotate($deg) {
	-moz-transform: rotate($deg);
	-webkit-transform: rotate($deg);
	-o-transform: rotate($deg);
	-ms-transform: rotate($deg);
	transform: rotate($deg);
}